body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;

    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* GLOBAL */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;   /*will also make header fill top of page?*/
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;   /*remove dots*/
}



/* HEADER */

header {
    background: #01314e;
    color: #fff;
    padding-top: 5px;
    min-height: 70px;   /*responsive adjusts when content smooshed*/
    border-bottom: #05c9e2 3px solid;
}

header #branding {
    float: left;    /*left of nav*/
}

header nav {
    float: right;
    margin-top: 35px;
} 

header a {
    color: #fff;
    text-decoration: none;  /*remove underline*/
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    padding: 0px 20px;
}


/* SHOWCASE */

#showcase {
    min-height: 500px;
    background: url('law-scales-background.jpg') no-repeat;
    background-position: center;    /*centers image*/
    background-size: cover;
    text-align: center;
    color: #fff;
    border-bottom: #05c9e2 3px solid;
}

#showcase h1 {
    margin-top: 15%;
    font-size: 55px;
}

#showcase p {
    font-size: 20px;
}

/* MAIN SECTION*/

#main-section {
    background: white;
}


#main-col {
    background: white;
    padding: 10px 20px;
    color: black;
}

#main-section h2 {
    text-align: center;
    background: #f4f4f4;
    color: black;
    font-size: 30px;
}

#main-col p {
    font-size: 20px;
}


/*AREA SECTION*/
#area-section {
    background: white;
}

#area-section h2 {
    text-align: center;
    background: #f4f4f4;
    font-size: 30px;
}

#area-section .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
}

    /*all direct ul in wrapper*/
.wrapper > ul {
    background: #f4f4f4;;
    text-align: center;
    border: 3px solid #05c9e2;
}

.wrapper li {
    font-size: 20px;
    margin-bottom: 2px;
    background: #52EBFF;
    padding: 10px 0px; 
}

.wrapper ul li:nth-child(odd) {
    background: #297580;
}

.wrapper ul li:last-child {
    margin-bottom: 0;
}




/*FOOTER*/
footer {
    padding: 5px;
    background-color: #01314e;
    color: #fff;
    text-align: center;
    border-top: #05c9e2 3px solid;
}